@using WebSiteBanHang.Models;
@model IEnumerable<DonDatHangMerchant>

@{
    ViewBag.Title = "merchantHuy";
    Layout = "~/Views/Layout/MerchantLayout.cshtml";
}
<br />
<br />
<h2 style="font-weight:bold">Đơn đặt hàng và tình trạng giao hàng</h2>
<br />
<br />
<ul class="nav nav-tabs">
    <li role="presentation"><a href="@Url.Action("merchantXacNhan","TinhTrangGiaoHang")">Xác nhận</a></li>
    <li role="presentation"><a href="@Url.Action("merchantGiaoHang","TinhTrangGiaoHang")">Giao Hàng</a></li>
    <li role="presentation"><a href="@Url.Action("merchantThanhCong","TinhTrangGiaoHang")">Thành công</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("merchantHuy","TinhTrangGiaoHang")">Hủy</a></li>
</ul>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã ĐH</th>
            <th>Số</th>
            <th>Tên khách hàng</th>
            <th>Ngày đặt</th>
            @*<th>Ngày giao</th>*@
            <th>Tình trạng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDDHMerchant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DonDatHang.NgayGiao)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThaiGiaoHang.TenTrangThai)
                </td>
                <td>
                    @Html.ActionLink("Duyệt đơn hàng", "merchantDuyetDonHang2", new { @id = item.MaDDHMerchant }, new { @target = "_blank" })
                </td>
            </tr>
        }
    </tbody>
</table>